{{define "task"}}
<div
  hx-target="this"
  hx-swap="outerHTML"
  class="bg-white w-full p-1.5 gap-2 flex items-stretch justify-between rounded-md"
>
  <div
    hx-get="/task/{{.Id}}/edit"
    class="hover:bg-zinc-200 transition-colors py-1 px-2 rounded-md"
  >
    {{.Name}}
  </div>
  <div class="gap-1 flex">
    <button
      type="submit"
      title="Delete '{{.Name}}' task"
      hx-delete="/task/{{.Id}}"
      hx-target="closest .w-full"
      hx-swap="outerHTML"
      class="p-1.5 rounded-[3px] bg-zinc-200 hover:bg-zinc-200/80"
    >
      <svg
        width="18px"
        height="18px"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        color="#000000"
      >
        <path
          d="M20 9L18.005 20.3463C17.8369 21.3026 17.0062 22 16.0353 22H7.96474C6.99379 22 6.1631 21.3026 5.99496 20.3463L4 9"
          stroke="#000000"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M21 6L15.375 6M3 6L8.625 6M8.625 6V4C8.625 2.89543 9.52043 2 10.625 2H13.375C14.4796 2 15.375 2.89543 15.375 4V6M8.625 6L15.375 6"
          stroke="#000000"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
    </button>
    <button
      name="complete-task-{{.Id}}"
      type="submit"
      title="Complete '{{.Name}}' task"
      hx-put="/task/{{.Id}}"
      hx-target="closest .w-full"
      hx-swap="outerHTML"
      class="p-1.5 rounded-[3px] bg-zinc-200 hover:bg-zinc-200/80"
    >
      <svg
        width="18px"
        height="18px"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        color="#000000"
      >
        <path
          d="M5 13L9 17L19 7"
          stroke="#000000"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
    </button>
  </div>
</div>
{{end}}
